.caroussel-item{
   height: 32rem;
}

.carousel-item img{
    height: 32rem;
    filter: brightness(50%);
}

@media screen {
    .carousel-item{
        height: auto;
    }
}

@media screen {
    .carousel-caption{
        margin-bottom: 110px;
    }
}